$control.setTemplate("home:navigation.vm")
#set($user = $rundata.request.session.getAttribute("managerUser"))
<script type="text/javascript" src="js/trcolor.js"></script>
<script type="text/javascript" src="js/jquery-1.4.2.min.js"></script> 
<script type="text/javascript" src="js/jquery.simplemodal-1.4.js"></script> 
<script language="javascript">
	changeNav("repair");




</script>

<!--页面主体-->
<div class="main">
   
  <div class="title"> 
    <h2>修复管理</h2>
  </div>
   <div class="crumbs"><a href="checkRepairLogList.htm">数据修复日志</a>
       <span class="red">提示:数据修复需要Pipeline开启自由门功能以及在源数据中创建自由门相关数据库表</span>
   </div>
   <!--分页表单-->
   <form id="pageform" name="pageform" action="checkRepairLogList.htm" method="post">
    	<input type="hidden" id="pageIndex" name="pageIndex" value=""/>
		<input type="hidden" id="searchKey" name="searchKey" value="$!searchKey"/>
		<input type="hidden" id="sourceSchema" name="sourceSchema" value="$!sourceSchema"/>
		<input type="hidden" id="sourceTable" name="sourceTable" value="$!sourceTable"/>
		<input type="hidden" id="isSuccess" name="isSuccess" value="$!isSuccess"/>
   </form>
   <!--DataMedia搜索-->
   <div class="search_o" style="width: 1500px">
		<form name="search_data" action="checkRepairLogList.htm" method="post">
			##$csrfToken.hiddenField
			<div class="search_input">
				<input name="searchKey" type="text" value="请输入关键字"  onfocus="if(this.value == '请输入关键字') {this.value='';}" onblur="if(this.value == '') {this.value = '请输入关键字';}" />
			</div>
			<span style="float: left;margin-left: 5px;font-weight: bolder;font-size: larger;margin-top: 4px;">源Schema列表</span>
			<select name="sourceSchema" style="float: left;margin-left: 5px;margin-right: 5px;height: 25px;margin-top: 2px;">
                <option></option>
				#foreach($key in $sourceSchemaList)
					#if($!sourceSchema == $!key)
                        <option selected="selected" value="$!key">$!key</option>
					#else
                        <option value="$!key">$!key</option>
					#end
				#end
			</select>
			<span style="float: left;margin-left: 5px;font-weight: bolder;font-size: larger;margin-top: 4px;">源Table列表</span>
			<select name="sourceTable" style="float: left;margin-left: 5px;margin-right: 5px;height: 25px;margin-top: 2px;">
                <option></option>
				#foreach($key in $sourceTableList)
					#if($!sourceTable == $!key)
                        <option selected="selected" value="$!key">$!key</option>
					#else
                        <option value="$!key">$!key</option>
					#end
				#end
			</select>
			<select name="isSuccess" style="float: left;margin-left: 5px;margin-right: 5px;height: 25px;margin-top: 2px;">
                <option></option>
				#if($!isSuccess == 0)
                    <option selected="selected" value="0">成功</option>
                    <option value="1">失败</option>
				#elseif($!isSuccess == 1)
                    <option value="0">成功</option>
                    <option selected="selected" value="1">失败</option>
				#else
                    <option value="1">失败</option>
                    <option value="0">成功</option>
				#end

			</select>
			<div class="search_btn"><a href="javascript:document.search_data.submit();"><img src="images/search_btn.png" width="39" height="31" /></a></div>
				<br>
				#set($redoZkLink = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("operation", "autoRepair").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex))
                <div title="修复所有修复失败数据，修复前提：开启Chanel通道，开启Pipeline自由门功能" style="float: left;" class="btn"><a href="javascript:if(confirm('确实要修复所有失败数据吗?'))location='$redoZkLink'">一键修复</a></div>
				<span style="width: 30xp;">&nbsp;</span>
				#set($modifyWideIndexLink = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("operation", "modifyWideIndex").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex))
                <div title="修复所有宽表的脏数据，修复前提：开启Chanel通道，开启Pipeline自由门功能" style="float: left;" class="btn"><a href="javascript:if(confirm('确实要修复所有宽表失败数据吗?'))location='$modifyWideIndexLink'">宽表修复</a></div>
                <span style="width: 30xp;">&nbsp;</span>
				#set($wideIndexRun = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("operation", "wideIndexRun").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex).addQueryData("wideIndexFlag", $!wideIndexFlag))
                <div title="宽表修复目前：#if($!wideIndexFlag)运行#{else}停止#{end} " style="float: left;" class="btn"><a href="javascript:if(confirm('确实要#if($!wideIndexFlag)停止#{else}运行#{end}宽表修复功能'))location='$wideIndexRun'">#if($!wideIndexFlag) 停止 #else 运行 #end</a></div>
                <span style="width: 30xp;">&nbsp;</span>
				#set($AddCheckDataInfo = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("operation", "AddCheckDataInfo").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex))
                <div style="float: left;" class="btn"><a href="javascript:if(confirm('确实要增加校验数据?'))location='$AddCheckDataInfo'">增加校验</a></div>
                <br>
		</form>
   </div>
	<span class="red">$!msg</span>
   
   <!--列表-->
     
  <table border="0" cellspacing="0" cellpadding="0" class="list changecolor_w" >
    <tr> 
      <th>序号</th>
	  <th title="ChannelId">CID</th>
	  <th title="PipelineId">PID</th>
	  <th>源数据源名称</th>
	  <th>源数据库名称</th>
	  <th>源表名称</th>
	  <th>目标数据源名称</th>
	  <th>目标数据库名称</th>
	  <th>目标表名称</th>
	  <th>修复开始时间</th>
	  <th>修复结束时间</th>
	  <th>修复次数</th>
	  <th>修复状态</th>
	  <th>创建时间</th>
	  <th>操作</th>
    </tr>
	#foreach ($checkRepairLogDo in $checkRepairLogDoLs)
	
    <tr> 
      <td width="3%">$!checkRepairLogDo.id</td>
	  <td width="2%">$!checkRepairLogDo.channelId</td>
	  <td width="2%">$!checkRepairLogDo.pipelineId</td>
      <td>$!checkRepairLogDo.checkSourceName</td>
      <td>$!checkRepairLogDo.checkSourceSchema</td>
      <td>$!checkRepairLogDo.checkSourceTable</td>
      <td>$!checkRepairLogDo.checkTargetName</td>
      <td>$!checkRepairLogDo.checkTargetSchema</td>
      <td>$!checkRepairLogDo.checkTargetTable</td>
      <td>#if($!checkRepairLogDo.repairBeginDate)$!numberFormat.format($checkRepairLogDo.repairBeginDate) #else null #end</td>
      <td>#if($!checkRepairLogDo.repairEndDate)$!numberFormat.format($checkRepairLogDo.repairEndDate) #else null #end</td>
      <td>$!checkRepairLogDo.repairNum</td>
		#if($!checkRepairLogDo.repairIsSuccess == 0)
			<td><span style="color: forestgreen;font-weight: bold">成功</span></td>
		#else
            <td><span style="color: red;font-weight: bold">失败</span></td>
		#end
        <td>#if($!checkRepairLogDo.createDate)$!numberFormat.format($checkRepairLogDo.createDate) #else null #end </td>
	<td>
		#if($user.authorizeType.isAdmin())
			#set($redoZkLink = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("checkRepairId", $!checkRepairLogDo.id).addQueryData("operation", "check").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex))
			<a href="javascript:if(confirm('确实要运行数据检查吗?'))location='$redoZkLink'">
				<img src="images/ico_edit.png" alt="" width="13" height="13" />
				<span class="ico_font">数据检查</span></a>
			<span class="ico_line">|</span>
			#set($redoZkLink = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("checkRepairId", $!checkRepairLogDo.id).addQueryData("operation", "repair").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex))
			<a href="javascript:if(confirm('确实要运行数据修复吗?'))location='$redoZkLink'">
				<img src="images/ico_edit.png" alt="" width="13" height="13" />
				<span class="ico_font">全部修复</span></a>
            <span class="ico_line">|</span>
			#set($redoZkLink = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("checkRepairId", $!checkRepairLogDo.id).addQueryData("operation", "subRepair").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex))
            <a href="javascript:if(confirm('确实要运行数据修复吗?'))location='$redoZkLink'">
                <img src="images/ico_edit.png" alt="" width="13" height="13" />
                <span class="ico_font">数据修补</span></a>
            <span class="ico_line">|</span>
			#set($redoZkLink = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("checkRepairId", $!checkRepairLogDo.id).addQueryData("operation", "forceRepair").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex))
            <a href="javascript:if(confirm('确实要运行数据修复吗?'))location='$redoZkLink'">
                <img src="images/ico_edit.png" alt="" width="13" height="13" />
                <span class="ico_font">强制同步</span></a>
            <span class="ico_line">|</span>
			#set($redoZkLink = $homeModule.setTarget("checkRepairLogList.vm").addQueryData("checkRepairId", $!checkRepairLogDo.id).addQueryData("operation", "checkFieldAndRepair").addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex))
            <a href="javascript:if(confirm('确实要运行数据修复吗?'))location='$redoZkLink'">
                <img src="images/ico_edit.png" alt="" width="13" height="13" />
                <span class="ico_font">字段修复</span></a>
            <span class="ico_line">|</span>
			#set ($removeURL = $homeModule.setAction("CheckRepairLogAction").addQueryData("id", $!checkRepairLogDo.id).addQueryData("pageIndex", $!paginator.page).addQueryData("searchKey", $!searchKey).addQueryData("sourceSchema", $!sourceSchema).addQueryData("sourceTable", $!sourceTable).addQueryData("isSuccess", $!isSuccess).addQueryData("pageIndex", $!pageIndex).addQueryData("eventSubmitDoDelete", "true"))
            <a href="javascript:if(confirm('确实要删除吗?'))location='$removeURL'" class="link del"><img src="images/ico_del.png" width="9" height="9" /><span class="ico_font">删除</span></a></td>
		#end

	</td>
    </tr>
    #end
  </table>

  
     
     <!--分页-->
     <div class="page">共$paginator.items条数据&nbsp;&nbsp;第$paginator.page页/共$paginator.pages页&nbsp;&nbsp; 
       
	   #if($paginator.page == 1)
            <font color="999999">首页</font>
	   #else
			<a href="#" class="prev" onclick="pageNavigation(this,1)">首页</a>
	   #end
	   
	   #if($paginator.page > 1)
			#set($pre_page = $paginator.page - 1)
				<a href="#" class="prev" onclick="pageNavigation(this,$pre_page)">上一页</a>
	   #else
            <font color="999999">上一页</font>
	   #end
	   ##分页下标
	   #set($counts_keys = $paginator.getSlider(7))
	   #foreach( $thisPage in $counts_keys)
			#if( $thisPage == $paginator.page)
                <b>$thisPage</b>
			#else
				#if($thisPage != 0)
					<a href="#" class="num" onclick="pageNavigation(this,$thisPage)">$thisPage</a> 
				#end
			#end
	   #end
	   
	   #if($paginator.page < $paginator.pages)
			#set($next_page = $paginator.page + 1)
				<a href="#" class="prev" onclick="pageNavigation(this,$next_page)">下一页</a>
	   #else
            <font color="999999">下一页</font>
	   #end
	   
	   #if($paginator.page == $paginator.pages)
            <font color="999999">末页</font>
	   #else
			<a href="#" class="prev" onclick="pageNavigation(this,$paginator.pages)">末页</a>
	   #end
     </div>     
</div>
